.Home {
  // .hero {
  //   margin-top: 100px;

  //   .big {
  //     display: flex;
  //     align-items: center;
  //     justify-content: space-between;
  //     .left {
  //       p {
  //         color: rgba(32, 31, 31, 0.2);
  //         font-size: 15px;
  //         font-weight: 600;
  //         line-height: 120%;
  //         letter-spacing: 2px;
  //         margin-bottom: 18px;
  //       }
  //       h1 {
  //         color: #201f1f;
  //         font-size: 75px;
  //         font-weight: 600;
  //         line-height: 120%;
  //         letter-spacing: -3px;
  //         margin-bottom: 16px;
  //         width: 567px;
  //       }
  //       .p2 {
  //         color: #676767;
  //         text-align: justify;
  //         font-size: 18px;
  //         font-weight: 400;
  //         line-height: 28px;
  //         width: 530px;
  //         margin-bottom: 53px;
  //       }
  //       button {
  //         border-radius: 12.412px;
  //         padding: 18px 30px;
  //       }
  //     }
  //   }
  //   .bottom {
  //     background-image: url("../components/img/bgimg.png");
  //     background-size: cover;
  //     background-repeat: no-repeat;
  //     .text {
  //       display: flex;
  //       align-items: center;
  //       justify-content: space-around;
  //       padding: 22px 0px;
  //       .p1 {
  //         h2 {
  //           color: var(--base-white, #fff);
  //           font-size: 43.2px;
  //           font-weight: 700;
  //           line-height: 54px;
  //         }
  //         p {
  //           color: #c5bfed;
  //           font-size: 14.4px;
  //           font-weight: 500;
  //           line-height: 21.6px;
  //           width: 200px;
  //           text-align: center;
  //         }
  //       }
  //     }
  //     margin-bottom: 119px;
  //   }
  // }
  // .quality {
  //   .big {
  //     display: flex;
  //     align-items: center;
  //     justify-content: center;
  //     column-gap: 180px;
  //     .right {
  //       display: flex;
  //       flex-direction: column;
  //       justify-content: center;
  //       h1 {
  //         color: #18181b;
  //         font-family: Poppins;
  //         font-size: 50.923px;
  //         font-weight: 700;
  //         line-height: 58.198px;
  //         text-transform: capitalize;
  //         width: 510px;
  //         margin-bottom: 63px;
  //       }
  //       .text1 {
  //         display: flex;
  //         flex-direction: column;
  //         row-gap: 27px;
  //         margin-left: 30px;
  //         p {
  //           color: #676767;
  //           font-size: 20.335px;
  //           font-weight: 400;
  //           line-height: 30.502px;
  //           width: 520px;
  //         }

  //         margin-bottom: 66px;
  //       }
  //       button {
  //         text-align: center;
  //         font-size: 18.062px;
  //         border-radius: 14.675px;
  //         padding: 15px 25px;
  //         width: 186px;
  //       }
  //     }
  //   }
  //   .line {
  //     width: 100%;
  //     height: 1px;
  //     background: #cbcbcb;
  //     margin-top: 80px;
  //     margin-bottom: 82px;
  //   }
  // }

  // .king {
  //   .box {
  //     img {
  //       border-top-right-radius: 12px;
  //       border-top-left-radius: 12px;
  //     }
  //     display: flex;
  //     flex-direction: column;
  //     align-items: center;
  //     width: 1237px;
  //     border-radius: 30px;
  //     //   border: 1.593px solid v   ar(--colors-gray-gray-2, #f4f4f6);
  //     background: var(--Pure-White, #fff);
  //     box-shadow: -3px 2px 13px 3px rgba(229, 229, 229, 0.7);
  //     .box-bottom {
  //       display: flex;
  //       align-items: center;
  //       column-gap: 250px;
  //       padding-bottom: 35px;
  //       h2 {
  //         color: var(--BLACK, #323142);
  //         font-feature-settings: "clig" off, "liga" off;
  //         font-size: 40px;
  //         font-weight: 600;
  //         line-height: 53.364px;
  //       }
  //       .bottom-center {
  //         display: flex;
  //         align-items: center;
  //         column-gap: 3px;
  //         p {
  //           color: var(--Grey, #8e97a6);
  //           font-feature-settings: "clig" off, "liga" off;
  //           font-size: 26.233px;
  //           font-weight: 400;
  //           line-height: 34.977px;
  //         }
  //       }
  //     }
  //     margin-bottom: 100px;
  //   }
  //   .liner {
  //     width: 1246px;
  //     height: 1px;
  //     background: #cbcbcb;
  //     margin-top: 34px;
  //     margin-bottom: 66px;
  //   }
  // }
  // .dishes {
  //   margin-bottom: 40px;
  //   .par {
  //     h1 {
  //       text-align: center;
  //       color: #323142;
  //       font-size: 45px;
  //       font-weight: 600;
  //       line-height: 25.558px;
  //       margin-bottom: 75px;
  //     }
  //   }
  //   .cards {
  //     display: flex;
  //     align-items: center;
  //     justify-content: space-between;
  //     // column-gap: 70px;
  //     flex-wrap: wrap;
  //     .card {
  //       width: 224.628px;
  //       // height: 390.36px;
  //       display: flex;
  //       align-items: center;
  //       justify-content: space-between;
  //       flex-direction: column;
  //       border-radius: 34.581px;
  //       border: 1.441px solid var(--colors-gray-gray-2, #f4f4f6);
  //       background: var(--Pure-White, #fff);
  //       box-shadow: 8px 6px 16px 4px rgb(223 223 223 / 70%);
  //       .img {
  //         .image {
  //           position: relative;
  //           width: 180px;
  //           height: 200px;
  //           border-radius: 50%;
  //           // background: #edebeb;
  //           margin-top: 12px;
  //           // margin-bottom: -220px;
  //         }
  //         .like {
  //           position: absolute;
  //           margin-top: -190px;
  //           margin-left: 160px;
  //         }
  //       }
  //       .items {
  //         .p1 {
  //           display: flex;
  //           align-items: center;
  //           justify-content: center;
  //           color: #daa31a;
  //           font-size: 11.422px;
  //           font-weight: 400;
  //           border-radius: 4.828px;
  //           background: #f7edd0;
  //           width: 58.896px;
  //           height: 22.207px;
  //           margin-top: -10px;
  //         }
  //         h3 {
  //           color: var(--BLACK, #323142);
  //           font-size: 23.054px;
  //           font-weight: 600;
  //           line-height: 37.463px;
  //           margin-top: 8px;
  //         }
  //         .line {
  //           display: flex;
  //           align-items: center;
  //           column-gap: 5px;

  //           p {
  //             color: var(--Grey, #8e97a6);
  //             font-size: 17.291px;
  //             font-weight: 400;
  //             line-height: 23.054px;
  //           }
  //         }
  //         .last {
  //           display: flex;
  //           align-items: center;
  //           margin-top: 9px;
  //           justify-content: center;
  //           text-align: center;

  //           h4 {
  //             color: var(--BLACK, #323142);
  //             font-size: 25.936px;
  //             font-weight: 700;
  //             line-height: 20.345px;
  //           }
  //           p {
  //             color: var(--Grey, #8e97a6);
  //             font-size: 18.806px;
  //             font-weight: 700;
  //             line-height: 40.345px;
  //             margin-top: 5px;
  //           }
  //           button {
  //             width: 33.83px;
  //             height: 29.721px;
  //             flex-shrink: 0;
  //             color: white;
  //             background-color: #323142;
  //             border-radius: 10px;
  //             margin-left: 20px;
  //             transition: all 0.3s ease;
  //             &:hover {
  //               background-color: rgb(247, 3, 3);
  //             }
  //           }
  //         }
  //       }
  //     }
  //   }
  //   .all {
  //     font-size: 20px;
  //     font-weight: 500;
  //     margin-left: 1060px;
  //     margin-top: 40px;
  //     width: 150px;
  //     height: 50px;
  //     border-radius: 10px;
  //   }
  // }
  // .Dashboard {
  //   background: #f9f9f9;
  //   padding-top: 80px;

  //   .big {
  //     display: flex;
  //     align-items: center;
  //     justify-content: space-between;
  //     .left {
  //       h1 {
  //         color: var(--gray-900, #18181b);
  //         font-size: 50.923px;
  //         font-weight: 700;
  //         line-height: 58.198px;
  //         width: 559.709px;
  //         margin-bottom: 48px;
  //       }
  //       .products {
  //         display: flex;
  //         flex-direction: column;
  //         row-gap: 10px;
  //         gap: 22px;
  //         .product {
  //           display: flex;
  //           padding: 4px 100px 4px 17px;

  //           align-items: center;
  //           border-radius: 12.041px;
  //           background: var(--Full-White, #fff);
  //           width: 345.17px;
  //           height: 88.299px;
  //           gap: 12px;
  //           box-shadow: -7px 8px 13px 0px rgba(70, 70, 70, 0.1);
  //           transition: 0.3s;
  //           &:hover {
  //             box-shadow: -13px 8px 13px 0px rgba(70, 70, 70, 0.1);
  //             transform: translateY(-6px);
  //             transform: translateX(6px);
  //           }
  //           img {
  //             width: 77px;
  //             height: 77px;
  //           }
  //           .right {
  //             display: flex;
  //             flex-direction: column;
  //             align-items: start;

  //             h4 {
  //               color: var(--Black-Color, #323142);
  //               font-size: 19.065px;
  //               font-weight: 600;
  //               line-height: 140%;
  //             }
  //             p {
  //               color: var(--Black-Color, #323142);

  //               font-size: 12.041px;
  //               font-weight: 500;
  //               line-height: 140%;
  //             }
  //           }
  //         }
  //       }
  //     }
  //     .right {
  //       .dashboard {
  //         display: flex;
  //         flex-direction: column;
  //         align-items: center;
  //         justify-content: center;
  //         width: 534px;
  //         height: 466.465px;
  //         border-radius: 25.129px;
  //         border: 1.571px solid var(--greyscale-200, #edf2f7);
  //         background: var(--others-white, #fff);
  //         .par {
  //           display: flex;
  //           align-items: center;
  //           column-gap: 148px;
  //           margin-bottom: 45px;
  //           h2 {
  //             color: var(--greyscale-900, #1a202c);
  //             font-size: 28.271px;
  //             font-weight: 800;
  //             line-height: 135%;
  //             letter-spacing: 0.314px;
  //           }
  //           p {
  //             color: var(--greyscale-900, #1a202c);
  //             font-size: 18.847px;
  //             font-weight: 600;
  //             line-height: 150%;
  //             letter-spacing: 0.628px;
  //           }
  //         }
  //         .items {
  //           display: flex;
  //           flex-direction: column;
  //           row-gap: 21px;
  //           .items1 {
  //             display: flex;
  //             align-items: center;
  //             flex-direction: column;
  //             border-radius: 18.847px;
  //             border: 1.571px solid var(--greyscale-200, #edf2f7);
  //             width: 458.612px;
  //             height: 135.071px;
  //             padding: 25.129px;
  //             gap: 20.418px;
  //             .top {
  //               display: flex;
  //               align-items: center;
  //               .center {
  //                 display: flex;
  //                 flex-direction: column;
  //                 align-items: start;
  //                 margin-left: 18px;
  //                 h3 {
  //                   color: var(--greyscale-900, #1a202c);
  //                   font-size: 18.847px;
  //                   font-weight: 800;
  //                   line-height: 150%;
  //                   letter-spacing: 0.628px;
  //                 }
  //                 p {
  //                   color: var(--greyscale-500, #a0aec0);
  //                   font-size: 15.706px;
  //                   font-weight: 500;
  //                   line-height: 150%;
  //                   letter-spacing: 0.628px;
  //                   width: 150px;
  //                 }
  //               }
  //               h5 {
  //                 color: var(--greyscale-900, #1a202c);
  //                 text-align: right;
  //                 font-size: 21.988px;
  //                 font-weight: 800;
  //                 line-height: 150%;
  //                 letter-spacing: 0.314px;
  //                 margin-left: 106px;
  //               }
  //             }
  //           }
  //         }
  //       }
  //     }
  //   }
  //   .liner {
  //     width: 1246px;
  //     height: 1px;
  //     background: #cbcbcb;
  //     margin-top: 134px;
  //   }
  // }

  // .customer {
  //   background: #f9f9f9;
  //   padding-top: 80px;
  //   .par {
  //     h1 {
  //       color: #6c5fbc;
  //       font-size: 45px;
  //       font-weight: 600;
  //       line-height: 25.558px;
  //       text-align: center;
  //       margin-bottom: 80px;
  //     }
  //   }
  //   .comments {
  //     display: flex;

  //     .comment1 {
  //       box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.5);
  //       width: 528px;
  //       height: 346px;
  //       background-color: white;
  //       display: flex;
  //       flex-direction: column;
  //       justify-content: center;
  //       align-items: start;
  //       padding-left: 43px;
  //       border-radius: 10px;
  //       margin-bottom: 217px;
  //       .par {
  //         display: flex;
  //         align-items: center;
  //         .name {
  //           margin-left: 10px;
  //         }
  //         .image {
  //           margin-left: 155px;
  //         }
  //         margin-bottom: 35px;
  //       }
  //       .body {
  //         p {
  //           color: #636363;
  //           font-size: 18px;
  //           font-weight: 400;
  //           line-height: 26.117px;
  //           width: 442px;
  //           margin-bottom: 39px;
  //         }
  //       }
  //     }
  //     .comment2 {
  //       .card {
  //         width: 528px;
  //         height: 239px;
  //         flex-shrink: 0;
  //         background-color: white;
  //         padding: 38px 43px 41px 43px;
  //         margin-left: 46px;
  //         box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.5);
  //         border-radius: 10px;
  //         p {
  //           color: #969696;
  //           font-size: 18px;
  //           font-weight: 400;
  //           line-height: 26.117px;
  //           margin-bottom: 32px;
  //           width: 442px;
  //         }
  //       }
  //       .iimg {
  //         margin-left: 30px;
  //         margin-top: 50px;
  //         width: 100%;
  //       }
  //     }
  //     .comment3 {
  //       .card {
  //         width: 270px;
  //         p {
  //           width: 220px;
  //           margin-bottom: 20px;
  //         }
  //       }
  //     }
  //   }
  // }
  // .email {
  //   margin-bottom: 130px;
  //   .box {
  //     border-radius: 34px;
  //     background-image: url("../components/img/bgfooterimg.png");
  //     width: 1214px;
  //     height: 280px;
  //     background-repeat: no-repeat;
  //     background-size: contain;
  //     display: flex;
  //     align-items: center;
  //     .left {
  //       margin-left: 66px;
  //       h1 {
  //         color: #fff;
  //         font-size: 70px;
  //         font-weight: 800;
  //         margin-bottom: 9px;
  //       }
  //       form {
  //         display: flex;
  //         align-items: center;
  //         justify-content: right;
  //         input {
  //           color: #878787;
  //           font-size: 16.268px;
  //           font-weight: 400;
  //           border-radius: 14.234px;
  //           background: #fff;
  //           box-shadow: 0px 7.25333px 45.33334px 0px rgba(0, 0, 0, 0.1);
  //           width: 439.733px;
  //           height: 68px;
  //           position: relative;
  //         }
  //         button {
  //           color: #f7f8fa;
  //           font-size: 14.752px;
  //           border-radius: 11.253px;
  //           background: #6c5fbc;
  //           border: 2px solid transparent;
  //           width: 132.373px;
  //           height: 53.443px;
  //           position: absolute;
  //           margin-right: 7px;
  //           transition: 0.3s;
  //           &:hover {
  //             color: #6c5fbc;
  //             background: #fff;
  //             border: 2px solid #6c5fbc;
  //           }
  //         }
  //       }
  //     }
  //     img {
  //       width: 300px;
  //       margin-left: 262px;
  //       margin-bottom: -140px;
  //     }
  //   }
  // }
}

.buttoms {
  background-color: #6c5fbc;
  border: 2px solid transparent;
  color: white;
  transition: 0.3s;
  font-family: Poppins;
  font-size: 14.752px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.443px;
  text-transform: uppercase;
}
.buttoms:hover {
  background-color: #fefefe;
  border: 2px solid #6c5fbc;
  color: #6c5fbc;
}
