.quality {
  .big {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 180px;
    .right {
      display: flex;
      flex-direction: column;
      justify-content: center;
      h1 {
        color: #18181b;
        font-family: Poppins;
        font-size: 50.923px;
        font-weight: 700;
        line-height: 58.198px;
        text-transform: capitalize;
        width: 510px;
        margin-bottom: 63px;
      }
      .text1 {
        display: flex;
        flex-direction: column;
        row-gap: 27px;
        margin-left: 30px;
        p {
          color: #676767;
          font-size: 20.335px;
          font-weight: 400;
          line-height: 30.502px;
          width: 520px;
        }

        margin-bottom: 66px;
      }
      button {
        text-align: center;
        font-size: 18.062px;
        border-radius: 14.675px;
        padding: 15px 25px;
        width: 186px;
      }
    }
  }
  .line {
    width: 100%;
    height: 1px;
    background: #cbcbcb;
    margin-top: 80px;
    margin-bottom: 82px;
  }
}
