.email {
  margin-bottom: 130px;
  .box {
    border-radius: 34px;
    background-image: url("../img/bgfooterimg.png");
    width: 1214px;
    height: 280px;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    align-items: center;
    .left {
      margin-left: 66px;
      h1 {
        color: #fff;
        font-size: 70px;
        font-weight: 800;
        margin-bottom: 9px;
      }
      form {
        display: flex;
        align-items: center;
        justify-content: right;
        input {
          color: #878787;
          font-size: 16.268px;
          font-weight: 400;
          border-radius: 14.234px;
          background: #fff;
          box-shadow: 0px 7.25333px 45.33334px 0px rgba(0, 0, 0, 0.1);
          width: 439.733px;
          height: 68px;
          position: relative;
        }
        button {
          color: #f7f8fa;
          font-size: 14.752px;
          border-radius: 11.253px;
          background: #6c5fbc;
          border: 2px solid transparent;
          width: 132.373px;
          height: 53.443px;
          position: absolute;
          margin-right: 7px;
          transition: 0.3s;
          &:hover {
            color: #6c5fbc;
            background: #fff;
            border: 2px solid #6c5fbc;
          }
        }
      }
    }
    img {
      width: 300px;
      margin-left: 262px;
      margin-bottom: -140px;
    }
  }
}
